body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    background-color: #e8e8e8;
}
  
.mainContainer{
    width: 190px;
    height: 260px;
    /* Idea size 380*520 */
    padding: 10px;
    background-color: #bfbfc1;
    border: #101213 1px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.displayContainer{
    /* background-color: #101213; */
    background: linear-gradient(to right, #363839, #101213);
    padding: 20px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 4px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display{ 
    color: #ebebeb;
    font-family: 'Orbitron';
    font-size: 24px;
    font-weight: 700;
}

.allButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background: linear-gradient(to right, #363839, #101213);
    box-shadow: 0px 2px 0px;
    border-radius: 2px;
    padding: 10px;
}

button{
    height: 34px;
    width: 34px;
    background-color: #ccc8c6;
    font-weight: 500;
    border-radius: 60%;
    font-size: 24px;
    margin: 2px;
    box-shadow: 0px 2px 2px;

}

button:hover{
    background-color: #afacaa;
}

.operatorButton, .clearButton{
    background-color: #dc562e;
}

.operatorButton:hover{
    background-color: #C6461F;
}

.clearButton:hover{
    background-color: #C6461F;
}

.speaker{
    border: #bfbfc1 2px solid;
}
